<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
AuthName "public_html"
AuthUserFile "/home/savnpik/.htpasswds/public_html/passwd"
